Brotli
click
colorama
Flask
Flask-Compress
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
python-dateutil
pytz
gunicorn
plotly
dash
requests
dash_renderer
dash-html-components
dash-core-components
dash-bootstrap-components
dash-table
dash
pandas
numpy
streamlit
openpyxl
